<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotAssem3.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.6593E-05 -0.031662 0.093316"
        rpy="0 0 0" />
      <mass
        value="20.485" />
      <inertia
        ixx="0.43484"
        ixy="-7.3552E-05"
        ixz="6.6575E-05"
        iyy="0.34723"
        iyz="0.042273"
        izz="0.51047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.75294 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.5626E-10 -0.12292 2.9318E-17"
        rpy="0 0 0" />
      <mass
        value="14.805" />
      <inertia
        ixx="0.28701"
        ixy="-1.2939E-09"
        ixz="1.283E-09"
        iyy="0.11168"
        iyz="-7.7571E-18"
        izz="0.31422" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.16078 0.16863 0.45098 0.4" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.496"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="96.8"
      velocity="3" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="1.414E-05 0.18788 -0.0021187"
        rpy="0 0 0" />
      <mass
        value="14.929" />
      <inertia
        ixx="0.7156"
        ixy="-8.6361E-06"
        ixz="-2.6881E-05"
        iyy="0.15396"
        iyz="0.0012193"
        izz="0.62367" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.9" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.796"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="66.4"
      velocity="3.5" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.22872 -0.023835 -2.7756E-17"
        rpy="0 0 0" />
      <mass
        value="12.293" />
      <inertia
        ixx="0.076693"
        ixy="-0.040693"
        ixz="3.6322E-17"
        iyy="0.34515"
        iyz="7.0712E-18"
        izz="0.37813" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0078431 0.23922 0.82353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 1.02"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="44.8"
      velocity="4" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.04925 -1.9562E-08 6.1596E-08"
        rpy="0 0 0" />
      <mass
        value="2.2635" />
      <inertia
        ixx="0.0040787"
        ixy="9.3991E-09"
        ixz="-6.4033E-09"
        iyy="0.019963"
        iyz="-3.8026E-09"
        izz="0.020598" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0078431 0.23922 0.82353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotAssem3.SLDASM/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 1.16"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="17.6"
      velocity="5" />
  </joint>
</robot>